init_config:

instances:
<% node['ec-base']['datadog']['http_checks'].each do |check| -%>
    -   name: <%=check.name %>
        host: localhost
        port: <%=check.port %>
        threshold: <%=check.threshold %>
        window: <%=check.window %>
        collect_response_time: false
        notify:
        <% check.notify.each do |notify| -%>
            - <%=notify %>
        <% end %>
<% end %>
