<VirtualHost *:80>
    ServerAdmin webteam@ecenglish.com
    DocumentRoot /var/www/web
    ServerName default

    <Directory /var/www/web>
        RewriteEngine on
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteRule ^ fcgi://127.0.0.1:9000/var/www/web/app.php/$1 [QSA,P]
    </Directory>
</VirtualHost>
