#! /bin/sh

# Installed by Chef => graylog2::web_interface.rb

### BEGIN INIT INFO
# Provides:          graylog2 web interface
# Required-Start:    $all
# Required-Stop:     $all
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: starts the graylog2 web interface
# Description:       starts the graylog2 web interface using the graylog2 control script
### END INIT INFO
#
#  Once installed, use "sudo update-rc.d graylog2-web-interface defaults" to enable!

BINDIR=<%= node[:graylog2][:basedir] %>/web/bin
NAME=graylog2-web-interface
DESC=graylog2-web-interface

test -x /usr/bin/java || exit 0

set -e

case "$1" in
  start)
        echo -n "Starting $DESC: "
        cd $BINDIR
        ./graylog2-web-interface -Dhttp.port=<%= node[:graylog2][:web_interface][:port] %> &
        echo "...started."
        ;;
  *)
        N=/etc/init.d/$NAME
        echo "Usage: $N {start}" >&2
        exit 1
        ;;
esac

exit 0
